:root{
    --main-grey: #232323; 
    --body-color: #131313;
    --green-song:#4db039;
    --hover-nav:#43bd2b;
    --text-color:#f5f5f5;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
}

header {
    background-color: var(--main-grey);
    color: var(--text-color);
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: var(--main-grey);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

input[type="text"], input[type="password"] {
    padding: 0.5rem;
    width: 250px;
    margin-bottom: 10px;
}

button {
    padding: 0.5rem;
    background-color: var(--green-song);
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-nav);
}

#songs-container, #songs-list, #artists-list {
    margin-top: 20px;
}

#songs-container div, #songs-list div, #artists-list div {
    background-color: var(--text-color);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#songs-container div:hover, #songs-list div:hover, #artists-list div:hover {
    background-color: var(--hover-nav);
}
